@model IEnumerable<ESSONS_MIS_2020_App.Models.DateOffModel>

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutCongNhan.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin nghỉ phép chi tiết</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <b class="col-sm-3 col-form-label">Số thẻ</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.EmpID</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-3 col-form-label">Họ tên</b>
                                        <a class="col-sm-5 col-form-label">@ViewBag.message</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Tổng phép năm</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.phepnam ngày</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Phép năm hiện có</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.phepnamhienco ngày</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Đã dùng phép năm</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.phepnamdadung ngày</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Phép VR (Tháng)</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.pheprieng ngày</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Không phép (Tháng)</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.khongphep ngày</a>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-sm-5 col-form-label">Nghỉ BHXH (Tháng)</b>
                                        <a class="col-sm-3 col-form-label">@ViewBag.InfoList.BHXH ngày</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã nghỉ</th>
                                    <th>Loại phép</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Từ giờ</th>
                                    <th>Đến giờ</th>
                                    <th>Số giờ</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffType)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dateoffStart)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffEnd)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffStartTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffEndTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dateoffNumber)</td>
                                    @if (item.status == 2)
                                    {
                                        <td>
                                            @Html.ActionLink("Hủy", "dateoff_Delete", "DateOff", new { dateoffID = item.dateoffID, page = 1 },
                                                                                                new
                                                                                                {
                                                                                                    @class = "btn btn-danger btn-sm"
                                                                                                })
                                        </td>
                                    }
                                    @if (item.status == 1)
                                    {
                                        <td>Đã xác nhận</td>
                                    }
                                    @if (item.status == 3)
                                    {
                                        <td>Đã hủy</td>
                                    }
                                    @if (item.status == 4)
                                    {
                                        <td>Chưa bổ sung giấy tờ</td>
                                    }
                                </tr>
                                }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        function idleTimer() {
            var t;
            window.onmousemove = resetTimer; // catches mouse movements
            window.onmousedown = resetTimer; // catches mouse movements
            window.onclick = resetTimer;     // catches mouse clicks
            window.onscroll = resetTimer;    // catches scrolling
            window.onkeypress = resetTimer;  //catches keyboard actions

            function logout() {
                window.location.href = '/CongNhan/Index';  //Adapt to actual logout script
            }

            function resetTimer() {
                clearTimeout(t);
                t = setTimeout(logout, 20000);  // time is in milliseconds (1000 is 1 second)
            }
        }
        idleTimer();

        var a = '@ViewBag.notice';
        if (a != '') {
            let dia = bs4pop.dialog({

                title: 'Thông báo',
                content: '@ViewBag.notice',

                closeBtn: true,
                backdrop: 'static',
                btns: [
                    { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                ],
                onDragStart: function () {
                    console.log('onDragStart');
                },
                onDrag: function () {
                    console.log('onDrag');
                }

            });
        }
    </script>
}