@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Theo dõi giờ công, ngày công</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Chọn ngày tháng</label>
                            <div class="col-3">
                                <div class="datepicker date input-group p-0 shadow-sm">
                                    <input type="text" class="form-control" id="reservationDate">
                                    <div class="input-group-append"><span class="input-group-text"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" id="btGetData">
                                Lấy dữ liệu
                            </button>
                            <button class="btn btn-primary" id="btDay">
                                Theo ngày
                            </button>
                            <button class="btn btn-primary" id="btMonth">
                                Theo tháng
                            </button>
                            <button class="btn btn-primary" id="btSumMonth">
                                Theo tổng tháng
                            </button>
                        </div>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            @if (ViewBag.type != "SumMonth")
                            {
                                <thead>
                                    <tr>
                                        <th>Mã nhân viên</th>
                                        <th>Tên nhân viên</th>
                                        <th>Phòng ban</th>
                                        <th>Ngày công</th>
                                        <th>Ca làm</th>
                                        <th>Giờ vào</th>
                                        <th>Giờ ra</th>
                                        <th>Giờ công</th>
                                        <th>Tăng ca</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.chamcongList)
                                    {
                                    <tr>
                                        <td>@item.empID</td>
                                        <td>
                                            @item.empName
                                        </td>
                                        <td>@item.depName</td>
                                        <td>@item.datework</td>
                                        <td>@item.shiftname</td>
                                        <td>@item.intime</td>
                                        <td>@item.outtime</td>
                                        <td>
                                            @item.hours
                                        </td>
                                        <td>@item.OT</td>
                                    </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <thead>
                                    <tr>
                                        <th>Mã nhân viên</th>
                                        <th>Tên nhân viên</th>
                                        <th>Phòng ban</th>
                                        <th>Tháng công</th>
                                        <th>Giờ công</th>
                                        <th>Tăng ca</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.chamcongList)
                                    {
                                        <tr>
                                            <td>@item.empID</td>
                                            <td>
                                                @item.empName
                                            </td>
                                            <td>@item.depName</td>
                                            <td>@item.datework</td>
                                            <td>
                                                @item.hours
                                            </td>
                                            <td>@item.OT</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btGetData").click(function (e) {
                var pickedDate = $('input').val();
                $.ajax({
                    type: "GET",
                    url: "/ChamCong/LayLieuChamCong?date=" + pickedDate,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        let dia = bs4pop.dialog({

                            title: 'Thông báo',
                            content: response,

                            closeBtn: true,
                            backdrop: 'static',
                            btns: [
                                { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                            ],
                            onDragStart: function () {
                                console.log('onDragStart');
                            },
                            onDrag: function () {
                                console.log('onDrag');
                            }

                        });
                    }
                });
                e.preventDefault();
            });

            $("#btDay").click(function () {
                var pickedDate = $('input').val();
                window.location.href = "/chamcong/index?date=" + pickedDate + "&&type=Day";
            });

            $("#btMonth").click(function () {
                var pickedDate = $('input').val();
                window.location.href = "/chamcong/index?date=" + pickedDate + "&&type=All";
            });

            $("#btSumMonth").click(function () {
                var pickedDate = $('input').val();
                window.location.href = "/chamcong/index?date=" + pickedDate + "&&type=SumMonth";
            });
        })

        $(function () {
            // INITIALIZE DATEPICKER PLUGIN
            $('.datepicker').datepicker({
                clearBtn: true,
                format: "dd-mm-yyyy"
            });


            // FOR DEMO PURPOSE
            $('#reservationDate').on('change', function () {
                var pickedDate = $('input').val();
                $('#pickedDate').html(pickedDate);
            });
        })

    </script>
}
