@model ESSONS_MIS_2020_App.Models.ChildQuyTrinh
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="se-pre-con"></div>
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-info"></i>
                        Qui trình sản xuất phát triển sản phẩm mới
                    </h3>
                </div>

                @if (ViewBag.depName == "KQL" || ViewBag.depName == "ITE")
                {
                    <div class="card-body">
                        <form id="formData" method="post" asp-action="Create">
                            <div class="form-group row">
                                <div class="col-2">
                                    <input asp-for="SoDonKhuon" type="text" maxlength="7" class="form-control" placeholder="Số đơn khuôn" value="">
                                </div>
                                <div class="col-2">
                                    <select asp-for="CodeSP" class="custom-select selectpicker" id="loaiCodeSP">
                                        <option data-toggle="popover" title="Ghi chú" data-content="Hàng xuất khẩu" data-placement="left" value="EX" selected>EX</option>
                                        <option data-toggle="popover" title="Ghi chú" data-content="Hàng hóa" data-placement="left" value="HH">HH</option>
                                        <option data-toggle="popover" title="Ghi chú" data-content="Hàng nội địa" data-placement="left" value="ND">ND</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary">
                                        Tạo mới
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                }
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Số đơn khuôn</th>
                                <th>Ngày duyệt</th>
                                <th>Code KH</th>
                                <th>Code SP</th>
                                <th>Mã khuônTW</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.quytrinhList)
                            {
                                <tr>
                                    <td>
                                        @item.SoDonKhuon
                                    </td>
                                    <td>
                                        @item.NgayDuyet
                                    </td>
                                    <td>@item.CodeKH</td>
                                    <td>@item.CodeSP</td>
                                    <td>@item.MaKhuonTW</td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "Detail", "QuyTrinhSP", new { SoDonKhuon = item.SoDonKhuon, codeSP = item.CodeSP }, new { @class = "btn btn-primary btn-sm", @target = "_blank" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Export Excel File</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Kinh Doanh</th>
                                        <th>KHSX</th>
                                        <th>Kho</th>
                                        <th>Thu Mua</th>
                                        <th>Chê tạo khuôn</th>
                                        <th>Bảo trì khuôn</th>
                                        <th>Kiểm máy</th>
                                        <th>Đóng gói</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportKinhDoanh", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportKHSX", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportKho", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportThuMua", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportCTK", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportBTK", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportKM", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportDG", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cán trộn</th>
                                        <th>Định hình</th>
                                        <th>QCKN</th>
                                        <th>Bóc tách máy</th>
                                        <th>Lưu hóa 2</th>
                                        <th>Mài hàng</th>
                                        <th>Quy trình khác</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportCTNL", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportDHE", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportQCKN", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportBT", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportLH2", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportMH", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            <a href="@Url.Action("ExportQTK", "QuyTrinhSP")" class="links">
                                                <img width="30" height="30" src="@Url.Content("~/images/Excel-icon.png")">
                                            </a>
                                        </td>
                                        <td width="13%">
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formData").submit(function (e) {
                var sochungtu = $('#SoChungTu');
                var codesp = $('#CodeSP');
                if (codesp.val() == '' || sochungtu.val() == '') {
                    let dia = bs4pop.dialog({

                        title: 'Thông báo',
                        content: 'Kiểm tra lại số chứng từ hoặc code SP',

                        closeBtn: true,
                        backdrop: 'static',
                        btns: [
                            { label: 'OK', className: 'btn-primary', onClick(cb) { } }
                        ],
                        onDragStart: function () {
                            console.log('onDragStart');
                        },
                        onDrag: function () {
                            console.log('onDrag');
                        }
                    });
                    e.preventDefault();
                }
            });
        });

        $.fn.dataTable.ext.errMode = 'throw';

        $('#example1').dataTable({
            "aaSorting": [],
            // Your other options here...
        });

        $(function () {
            $(function () {
                $('[data-toggle="popover"]').popover();
            })
        })

        $('body').on('click', function (e) {
            $('[data-toggle=popover]').each(function () {
                // hide any open popovers when the anywhere else in the body is clicked
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    </script>
}