@model IEnumerable<ESSONS_MIS_2020_App.Models.DateOffModel>

@{
    ViewData["Title"] = "dateoff_Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách xin nghỉ phép - nghỉ việc</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Tên nhân viên</th>
                                    <th>Mã số phép</th>
                                    <th>Loại phép</th>
                                    <th>Ngày nghỉ</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Từ giờ</th>
                                    <th>Đến giờ</th>
                                    <th>Số giờ</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.empID)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.empName)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffStart)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffEnd)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffStartTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffEndTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateoffNumber)</td>
                                        <td>
                                            @Html.ActionLink("Duyệt", "dateoff_Update", "dateoff", new { dateoffID = item.dateoffID },
                                                                                              new { @class = "btn btn-info btn-sm" })
                                            @Html.ActionLink("Hủy", "dateoff_Delete", "dateoff", new { dateoffID = item.dateoffID, page = 2 },
                                                                                                new
                                                                                                {
                                                                                                    @class = "btn btn-danger btn-sm",
                                                                                                    onclick = "return confirm('Bạn có muốn hủy yêu cầu này ?')"
                                                                                                })
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

