<table id="tbKho1" class="table table-bordered">
    <tr>
        <th scope="row" colspan="2">Mã keo 1</th>
        <td colspan="6">
            <label type="text" class="form-control"> @ViewBag.makeoList.MaKeo1 </label>
        </td>
    </tr>
    <tr>
        <th scope="row" colspan="8">CT Hóa chất CTY</th>
    </tr>
    <tr>
        <th scope="row">Hóa chất 1</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat1MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC1MK1" />
        </td>
        <th scope="row">Hóa chất 2</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat2MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC2MK1" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 3</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat3MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input type="text" readonly class="form-control" value="@ViewBag.makeoList.KhoiLuongHC3MK1" />
        </td>
        <th scope="row">Hóa chất 4</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat4MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC4MK1" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 5</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat5MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC5MK1" />
        </td>
        <th scope="row">Hóa chất 6</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat6MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC6MK1" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 7</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat7MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC7MK1" />
        </td>
        <th scope="row">Hóa chất 8</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat8MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC8MK1" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 9</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat9MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC9MK1" />
        </td>
        <th scope="row">Hóa chất 10</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat10MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC10MK1" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 11</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat11MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC11MK1" />
        </td>
        <th scope="row">Hóa chất 12</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat12MK1" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC12MK1" />
        </td>
    </tr>
    <tr>
        <th scope="row" colspan="8">CT hóa chất khách hàng</th>
    </tr>
    <tr>
        <th scope="row">Hóa chất 1</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat1MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC1MK1KH" />
        </td>
        <th scope="row">Hóa chất 2</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat2MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC2MK1KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 3</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat3MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC3MK1KH" />
        </td>
        <th scope="row">Hóa chất 4</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat4MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC4MK1KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 5</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat5MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC5MK1KH" />
        </td>
        <th scope="row">Hóa chất 6</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat6MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC6MK1KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 7</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat7MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC7MK1KH" />
        </td>
        <th scope="row">Hóa chất 8</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat8MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC8MK1KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 9</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat9MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC9MK1KH" />
        </td>
        <th scope="row">Hóa chất 10</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat10MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC10MK1KH" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 11</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat11MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC11MK1KH" />
        </td>
        <th scope="row">Hóa chất 12</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat12MK1KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC12MK1KH" />
        </td>
    </tr>
</table>