<table id="tbKho2" class="table table-bordered">
    <tr>
        <th scope="row" colspan="2">Mã keo 2</th>
        <td colspan="6">
            <label type="text" class="form-control"> @ViewBag.makeoList.MaKeo2 </label>
        </td>
    </tr>
    <tr>
        <th scope="row" colspan="8">CT Hóa chất CTY</th>
    </tr>
    <tr>
        <th scope="row">Hóa chất 1</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat1MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC1MK2" />
        </td>
        <th scope="row">Hóa chất 2</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat2MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC2MK2" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 3</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat3MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input type="text" readonly class="form-control" value="@ViewBag.makeoList.KhoiLuongHC3MK2" />
        </td>
        <th scope="row">Hóa chất 4</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat4MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC4MK2" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 5</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat5MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC5MK2" />
        </td>
        <th scope="row">Hóa chất 6</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat6MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC6MK2" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 7</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat7MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC7MK2" />
        </td>
        <th scope="row">Hóa chất 8</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat8MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC8MK2" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 9</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat9MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC9MK2" />
        </td>
        <th scope="row">Hóa chất 10</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat10MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC10MK2" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 11</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat11MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC11MK2" />
        </td>
        <th scope="row">Hóa chất 12</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat12MK2" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC12MK2" />
        </td>
    </tr>
    <tr>
        <th scope="row" colspan="8">CT hóa chất khách hàng</th>
    </tr>
    <tr>
        <th scope="row">Hóa chất 1</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat1MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC1MK2KH" />
        </td>
        <th scope="row">Hóa chất 2</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat2MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC2MK2KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 3</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat3MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC3MK2KH" />
        </td>
        <th scope="row">Hóa chất 4</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat4MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC4MK2KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 5</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat5MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC5MK2KH" />
        </td>
        <th scope="row">Hóa chất 6</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat6MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC6MK2KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 7</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat7MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC7MK2KH" />
        </td>
        <th scope="row">Hóa chất 8</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat8MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC8MK2KH" />
        </td>
    </tr>
    <tr>
        <th scope="row">Hóa chất 9</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat9MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC9MK2KH" />
        </td>
        <th scope="row">Hóa chất 10</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat10MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC10MK2KH" />
        </td>

    </tr>
    <tr>
        <th scope="row">Hóa chất 11</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat11MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC11MK2KH" />
        </td>
        <th scope="row">Hóa chất 12</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.HoaChat12MK2KH" />
        </td>
        <th scope="row">Khối lượng HC(g)</th>
        <td>
            <input readonly type="text" class="form-control" value="@ViewBag.makeoList.KhoiLuongHC12MK2KH" />
        </td>
    </tr>
</table>